:root {
  --pr-color: #048853;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3fff4;
}

/* Style Navbar  */
.navbar {
  z-index: 3;
}

* {
  z-index: 2;
}

.accsent-img {
  z-index: 1;
  height: 100%;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 700;
}

.nav-link {
  font-size: 16px;
}

.nav-link.active {
  font-weight: 700;
}

.button-primary {
  width: 133px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  color: #fff;
}

.button-secondary {
  width: 133px;
  height: 40px;
  background-color: #fff;
  color: var(--pr-color);
  font-size: 16px;
  font-weight: 700;
  border: none;
}

#hero {
  background: linear-gradient(160deg, var(--pr-color), #000);
  height: 100vh;
  width: 100%;
  padding: 100px 0;
}

.img-hero {
  z-index: 1;
  height: 100%;
}

.hero-tagline h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}

.hero-tagline p {
  font-size: 16px;
  color: #fff;
  width: 85%;
  line-height: 30px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.button-lg-primary {
  width: 237px;
  height: 70px;
  background: #fff;
  color: var(--pr-color);
  border: none;
  font-size: 20px;
  font-weight: 700;
}

/* Style Section Layanan */
#layanan {
  padding: 100px 0;
}

h2 {
  color: var(--pr-color);
  font-size: 48px;
  font-weight: 500;
}

.sub-title {
  font-size: 18px;
  color: #000;
}

.card-layanan {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);

  transition: all 0.2s ease-in;
}

.circle-icon {
  background-color: var(--pr-color);
  width: 70px;
  height: 70px;
  border-radius: 50%;

  transition: all 0.1s ease-in;
}

.card-layanan h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--pr-color);

  transition: all 0.2s ease-in;
}

.card-layanan p {
  font-size: 14px;
  color: #000;

  transition: all 0.3s ease-in;
}

/* Car Layanan Hover */
.card-layanan:hover {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background: linear-gradient(160deg, var(--pr-color), #000);
  padding: 40px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);

  transition: all 0.2s ease-in;
}

.card-layanan:hover .circle-icon {
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;

  transition: all 0.2s ease-in;
}

.card-layanan:hover h3 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;

  transition: all 0.2s ease-in;
}

.card-layanan:hover p {
  font-size: 14px;
  color: #fff;
  transition: all 0.2s ease-in;
}

#search {
  background-image: url('../Assets/img/bg-search.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#search h2 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#search p {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 0 10px 10px 0;
}

#search .nav-link {
  height: 42px;

  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-search {
   height: 88px;
   border-radius: 0 0 10px 0;
}

.input-search:focus {
   border: none;
}

.input-search .button-secondary {
   width: 200px;
   height: 88px;
   color: var(--pr-color);
   font-size: 18px;
   font-weight: 400;
   border: none;
   border-radius: 0 0 0 10px;
}

.input-search .button-primary {
   height: 88px;
   border: none;
   background-color: var(--pr-color);
   color: #fff;
   font-size: 36px;
   font-weight: 500;
   border-radius: 0 10px 10px 0;
}

.nav-tabs {
   border: none;
}

.nav-tabs .nav-link {
   background: rgba(255, 255, 255, 0.5);
   border-radius: 0 0 0 0;
}

#search .nav-link.active {
   color: var(--pr-color);
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 0 10px 0 0;
   font-weight: 500;
}

/* Style Recommended */
#recommended {
  padding: 100px 0;
}

#recommended h2 {
  font-size: 42px;
  font-weight: 600;
}

.card {
  height: 469px;
  border: none;
  width: 95%;
}

.card-body h4 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: .8rem;
}

.card-body p {
  color: rgb(94, 92, 92);
  font-size: 14px;
  font-weight: 400;
}

.card:hover {
  background: linear-gradient(160deg, var(--pr-color), #007245, #007245, #000);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
  transition: all ease-in-out .3s;
}

.card:hover .card-body h4 {
  color: #fff;
  transition: all ease-in-out .3s;
}

.card:hover .card-body p {
  color: #fff;
  transition: all ease-in-out .3s;
}

.card-fasility {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  height: 67px;
  background-color: #fff;
}

.card-fasility span {
  margin-top: 18px;
  font-weight: 600;
  font-size: 14px;
}

.card-fasility p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2rem;
}

/* Style Section Fiture Rumah */
.button-fiture {
  width: 238px;
  height: 63px;
  border: none;
  color: #fff;
  background-color: var(--pr-color);
  font-size: 20px;
  font-weight: 600;
}

.overlay {
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: all ease-in-out .3s;
}

.overlay h5 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}

.overlay span {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.overlay h6 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.overlay button {
  width: 150px;
  height: 45px;
  color: #fff;
  background-color: var(--pr-color);
  border: none;
  font-size: 18px;
  font-weight: 600;
}

.card-fiture .overlay:hover {
  background-color: rgba(0, 0, 0, .5);
  opacity: 1;
}

.button-fiture-s {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--pr-color);
}

.button-fiture-e {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--pr-color);
}